# Capstone 3
## Full Project

Steps:
- created a new folder called Capstone3
- copied the project structure into that folder
- created a new notebook called Capstone3v1 in the notebooks section
- downloaded dataset from: https://www.kaggle.com/datasets/jihyeseo/online-retail-data-set-from-uci-ml-repo
- unzipped it and placed it in the data section under external
- started by importing packages [Imports](#imports)
- created important info section [Important Info](#importantinfo)
- loaded the data into variable df
- looked at head
- looked at shape
- looked at info

Imports<a id='imports'></a>

In [1]:
#import packages 
import pandas as pd

Important Info<a id='importantinfo'></a>

In [2]:
#Index Link: [Important Info](#importantinfo)
#Section Link <a id='imports'></a>
downloaded_dataset='../data/external/Online Retail.xlsx'
df=pd.read_excel(downloaded_dataset)

In [3]:
df.sample(7)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
297488,562950,22752,SET 7 BABUSHKA NESTING BOXES,2,2011-08-11 09:56:00,8.50,15608.0,United Kingdom
268963,560434,23110,PARISIENNE KEY CABINET,1,2011-07-18 15:56:00,12.46,NaN,United Kingdom
382332,569898,90205C,LARGE CRYSTAL DIAMANTE HAIRSLIDE,1,2011-10-06 16:08:00,1.65,NaN,United Kingdom
232449,557319,22055,MINI CAKE STAND HANGING STRAWBERY,8,2011-06-20 08:23:00,1.65,15076.0,United Kingdom
79613,542998,82580,BATHROOM METAL SIGN,2,2011-02-02 12:16:00,1.25,NaN,United Kingdom
302648,563440,21642,ASSORTED TUTTI FRUTTI PEN,24,2011-08-16 13:12:00,0.29,13189.0,United Kingdom
362861,568527,20726,LUNCH BAG WOODLAND,20,2011-09-27 13:21:00,1.65,13178.0,United Kingdom

In [4]:
df.shape

(541909, 8)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  datetime64[ns]
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 33.1+ MB