# Capstone 3 
## Data Wrangling

First we import

In [16]:
import pandas as pd
import numpy as np

Load Dataset

In [17]:
downloaded_dataset='../data/external/Online Retail.xlsx'
df=pd.read_excel(downloaded_dataset)

Examine the data

In [18]:
df.sample(7)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
338295,566534,21479,WHITE SKULL HOT WATER BOTTLE,2,2011-09-13 11:32:00,8.29,NaN,United Kingdom
173293,551686,22083,PAPER CHAIN KIT RETROSPOT,3,2011-05-03 12:53:00,2.95,13668.0,United Kingdom
362169,568411,20726,LUNCH BAG WOODLAND,2,2011-09-27 10:52:00,4.96,NaN,United Kingdom
451614,575219,22333,RETROSPOT PARTY BAG + STICKER SET,48,2011-11-09 11:17:00,1.45,17511.0,United Kingdom
10407,537237,22028,PENNY FARTHING BIRTHDAY CARD,2,2010-12-06 09:58:00,0.85,NaN,United Kingdom
194703,553663,23298,SPOTTY BUNTING,1,2011-05-18 12:13:00,4.95,14527.0,United Kingdom
262875,559923,21972,SET OF 36 DINOSAUR PAPER DOILIES,1,2011-07-13 16:07:00,1.25,NaN,United Kingdom

I like to use sample instead of head() to give me a random sample

In [19]:
df.shape

(541909, 8)

Not too many features but lots of values

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  datetime64[ns]
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 33.1+ MB

The types look ok at the moment, it is strange that CustomerID is a float instead of an object

Let's look for duplicates

In [42]:
df.duplicated().sum()

0

In [43]:
df = df[~df.duplicated()]
df.shape

(524878, 8)

Let's look for missing values

In [41]:
df.isnull().sum()*100/len(df)

InvoiceNo       0.000000
StockCode       0.000000
Description     0.000000
Quantity        0.000000
InvoiceDate     0.000000
UnitPrice       0.000000
CustomerID     25.184138
Country         0.000000
dtype: float64

Looks like we are missing 25% of the CustomerID

In [47]:
df['CustomerID'].fillna(00000, inplace=True)

In [48]:
df.isnull().sum()

InvoiceNo      0
StockCode      0
Description    0
Quantity       0
InvoiceDate    0
UnitPrice      0
CustomerID     0
Country        0
dtype: int64

In [39]:
df.describe()

            Quantity      UnitPrice     CustomerID
count  524878.000000  524878.000000  392692.000000
mean       10.616600       3.922573   15287.843865
std       156.280031      36.093028    1713.539549
min         1.000000       0.001000   12346.000000
25%         1.000000       1.250000   13955.000000
50%         4.000000       2.080000   15150.000000
75%        11.000000       4.130000   16791.000000
max     80995.000000   13541.330000   18287.000000

negative minimum? why are there negative quantities and prices? maybe returns?

In [33]:
df=df[df['Quantity']>0]

In [34]:
df.describe()

            Quantity      UnitPrice     CustomerID
count  526054.000000  526054.000000  392732.000000
mean       10.730874       3.871747   15287.734822
std       157.591838      42.016560    1713.567773
min         1.000000  -11062.060000   12346.000000
25%         1.000000       1.250000   13955.000000
50%         4.000000       2.080000   15150.000000
75%        11.000000       4.130000   16791.000000
max     80995.000000   13541.330000   18287.000000

In [35]:
df=df[df['UnitPrice']>0]

In [36]:
df.describe()

            Quantity      UnitPrice     CustomerID
count  524878.000000  524878.000000  392692.000000
mean       10.616600       3.922573   15287.843865
std       156.280031      36.093028    1713.539549
min         1.000000       0.001000   12346.000000
25%         1.000000       1.250000   13955.000000
50%         4.000000       2.080000   15150.000000
75%        11.000000       4.130000   16791.000000
max     80995.000000   13541.330000   18287.000000

Excellent, now we have a cleaned up dataset without missing values and no negative numbers. 
Let's now export it to work on further.

In [50]:
df.to_csv('../data/clean/Online Retail.csv')